<div class="row">
<% form_for(@map, :html => {:multipart => true}) do |f| %>
  <div class="col-lg-6">
    <p>
      <%= f.label :title %>
      <br>
      <%= f.text_field :title %>
      <span class="glyphicon glyphicon-info-sign moreinfo" data-toggle="tooltip" data-placement="right" title="The name of the map"></span>

    </p>
    <p>
      <%= f.label :description %> <span class="tiny-text">(max 256 chars)</span>
      <br>
      <%= f.text_area(:description, :rows => 12) %>
      <span class="glyphicon glyphicon-info-sign moreinfo" data-toggle="tooltip" data-placement="right" title="Textual outline of the content"></span>

    </p>
    <p>
      <%= f.label :tag_list, "Tags" %> <span class="tiny-text">(comma separated)</span>
      <br>
      <%= f.text_field :tag_list %>
      <span class="glyphicon glyphicon-info-sign moreinfo" data-toggle="tooltip" data-placement="right" title="Keywords that correspond to the content"></span>

    </p>
    <p>
      <%= f.select(:map_type, Map.map_type_hash, :selected=>:is_map) -%>
    </p>
  </div>

  <div class="col-lg-6">
    <p>Please complete the following fields to the best of your ability. As with any reference, the quality of content is greatly increased with completed metadata.</p>
    
    <p>
      <%= f.label :unique_id, "Metadata Unique ID" %> 
      <br>
      <%= f.text_field :unique_id %>
      <span class="glyphicon glyphicon-info-sign moreinfo" data-toggle="tooltip" data-placement="right" title="Create your own unique identifier for this map"></span>

    </p>
    
     <p>
      <%= f.label :source_uri, "Source / Bibliographic Ref URL" %>
      <br>
      <%= f.text_field :source_uri %>
      <span class="glyphicon glyphicon-info-sign moreinfo" data-toggle="tooltip" data-placement="right" title="Link to where this map is from"></span>

    </p>
    
    <p>
      <%= f.label :publisher, "Publisher / Author / Printer" %>
      <br>
      <%= f.text_field :publisher %>
      <span class="glyphicon glyphicon-info-sign moreinfo" data-toggle="tooltip" data-placement="right" title="Name of entity"></span>

    </p>
    
     <p>
      <%= f.label :date_depicted %>
      <br>
      <%= f.text_field :date_depicted %>
      <span class="glyphicon glyphicon-info-sign moreinfo" data-toggle="tooltip" data-placement="right" title="Enter yyyy-mm-dd. If this information is unavailable please enter the best information you have."></span>

     </p>

    <p>
      <%= f.label :published_date %>
      <br>
      <%= f.text_field :published_date %>
      <span class="glyphicon glyphicon-info-sign moreinfo" data-toggle="tooltip" data-placement="right" title="Enter yyyy-mm-dd. If this information is unavailable please enter the best information you have."></span>

    </p>
    
    <p>
      <%= f.label :scale %>
      <br>
      <%= f.text_field :scale %>
      <span class="glyphicon glyphicon-info-sign moreinfo" data-toggle="tooltip" data-placement="right" title="The ratio of a distance on the map to the corresponding distance on the ground."></span>

    </p>

    <p>
      <%= f.label :language %>
      <br>
      <%= f.text_field :language %>
      <span class="glyphicon glyphicon-info-sign moreinfo" data-toggle="tooltip" data-placement="right" title="The language used on the map."></span>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <%- if defined?(page)  && page =~ /new/ -%>
      <p>
        <label for="upload"><b>Upload An Image File:</b>
          <br /><% if @max_size %>
            Max size:
            <%=  number_to_human_size @max_size %>.
          <% end %>
          <%= @upload_file_message %>
        </label> <br />
        <%= f.file_field :upload %>
      </p>
    <%- end -%>

    <%- if defined?(page)  && (page =~ /edit/ && logged_in? && (current_user == @map.owner || current_user.has_role?("editor")) || page =~ /new/ ) -%>
    <div class="mapradio">
    <h2>Map visibility</h2>
    <%= f.radio_button :public, "true" %><label for="map_public_true">Public (default)</label> <br/>
    <%= f.radio_button :public, "false" %><label for="map_public_false">Don't list the map (only you can see it)</label>
    </div>
    <%- end -%>

    <p>
      <%= f.submit((defined?(page) && page =~ /new/) ? "Create" : "Update" )%>
    </p>    
  </div>
<% end %>

</div>