<div class="row">
<% remote_form_for(@map, :update => "Edit", :html => {:multipart => true}) do |f| %>
  <div class="col-lg-6">
    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :description %> <span class="tiny-text">(max 256 chars)</span><br />
      <%= f.text_area(:description, :rows => 12) %>
    </p>
    <p>
      <%= f.label :tag_list, "Tags" %> <span class="tiny-text">(comma separated)</span> <br />
      <%= f.text_field :tag_list %>
    </p>
    <p>
      <%= f.select(:map_type, Map.map_type_hash, :selected=>:is_map) -%>
    </p>
  </div>

  <div class="col-lg-6">
    <p>
      <%= f.label :unique_id, "Metadata Unique ID" %> <span class="tiny-text">(optional)</span><br />
      <%= f.text_field :unique_id %>
    </p>
    
     <p>
      <%= f.label :source_uri, "Source / Bibliographic Ref URL" %> <span class="tiny-text">(optional)</span><br />
      <%= f.text_field :source_uri %>
    </p>
    
    <p>
      <%= f.label :publisher, "Publisher / Author / Printer" %> <span class="tiny-text">(optional)</span><br />
      <%= f.text_field :publisher %>
    </p>
    
     <p>
      <%= f.label :date_depicted %> <span class="tiny-text">(year, optional)</span><br />
      <%= f.text_field :date_depicted %>
     </p>

    <p>
      <%= f.label :published_date %> <span class="tiny-text">(optional)</span><br />
      <%= f.date_select(:published_date, :include_blank => true, :order => [:day, :month, :year ], :start_year => 1600, :end_year =>Time.now.year)  %>
    </p>
    
    <p>
      <%= f.label :scale %> <span class="tiny-text">(optional)</span><br />
      <%= f.text_field :scale %>
    </p>

    <p>
      <%= f.label :language %> <span class="tiny-text">(optional)</span><br />
      <%= f.text_field :language %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <%- if defined?(page)  && page =~ /new/ -%>
      <p>
        <label for="upload"><b>Upload An Image File:</b>
          <br /><% if @max_size %>
            Max size:
            <%=  number_to_human_size @max_size %>.
          <% end %>
          <%= @upload_file_message %>
        </label> <br />
        <%= f.file_field :upload %>
      </p>
    <%- end -%>

    <%- if defined?(page)  && (page =~ /edit/ && logged_in? && (current_user == @map.owner || current_user.has_role?("editor")) || page =~ /new/ ) -%>
    <div class="mapradio">
    <h2>Map visibility</h2>
    <%= f.radio_button :public, "true" %><label for="map_public_true">Public (default)</label> <br/>
    <%= f.radio_button :public, "false" %><label for="map_public_false">Don't list the map (only you can see it)</label>
    </div>
    <%- end -%>

    <p>
      <%= f.submit((defined?(page) && page =~ /new/) ? "Create" : "Update" )%>
    </p>    
  </div>
<% end %>

</div>