<div class="row">

  <div class="col-sm-8">
    <div class="maplist_img">
      <a name="a-map-row-<%=map.id%>"></a>
      <%= link_to image_tag(map.upload.url(:thumb)), map %>
    </div>

    <div class="maplist_title">
      <%=link_to(strip_brackets(h(map.title)), map) %>
    </div>

    <div class="map_description"><span><%=strip_brackets(h(map.description)) -%>
        <% if map.layers.count > 0 %>
          (In <%=link_to(pluralize(map.layers.count, 'layer'), map_layers_path(map.id)) -%>)
        <%end %>
      </span>

      <span class="map_year">
        <% unless map.depicts_year.blank? -%>
          Depicts: <%= map.depicts_year -%>
        <% end -%>
      </span>
      <% if !map.public? %><span class="publicprivate">(Not listed)</span><% end-%>
    </div>
    <div class="map_links_bigger">
      <%= link_to("Rectify Map", map_path(:id=> map,:anchor=>"Rectify_tab")) -%>

      <% if logged_in? -%>
        <% current_user_maps = current_user.maps %>
        <% if current_user_maps.to_a.include?(map) -%>
          | <%= link_to('Remove from My Maps', destroy_my_map_path(:user_id => current_user, :map_id => map), :method => :post, :confirm => "really remove this map from your list?") -%>
        <% else -%>
          | <%= link_to('Save to My Maps', add_my_map_path(:user_id => current_user, :map_id => map), :method => :post) -%>
        <% end -%>
      <% end -%>


      <% if admin_authorized? and @layer -%>
        | <%= link_to "remove map from this mosaic", {:controller => "layers", :action=>"remove_map", :id => @layer, :map_id => map} %>
      <%end -%>

      <% if admin_authorized? -%>
        <% @map = map-%>
        | <%= render :partial  => 'maps/map_type', :object => @map -%>
      <% end -%>

      <%if map.status == :warped -%> |
        <%= link_to("Download KML", map_url(:id => map, :format=>:kml)) -%>
      <% end -%>
    </div>
  </div>

  <div class="col-sm-2">
    Modified <%=h time_ago_in_words(map.updated_at) -%> ago
  </div>

  <div class="col-sm-2">
    <%if map.gcps.hard.size > 0 %>
      <%=pluralize(map.gcps.hard.size, "control point") -%>
    <%else-%>
      Unrectified
    <%end-%>
  </div>
</div>