<div class="row">
  <div class="col-sm-12">
    <div class="maplist_img">
      <a name="a-map-row-<%=map_detail.id%>"></a>
      <%= link_to image_tag(map_detail.upload.url(:thumb)), map_detail %>
    </div>

    <div class="maplist_title">
      <%= h(map_detail.title) %>
    </div>

    <div class="map_description"><span><%=strip_brackets(h(map_detail.description)) -%>
        <% if map_detail.layers.count > 0 %>
          (In <%=link_to(pluralize(map_detail.layers.count, 'mosaic'), map_layers_path(map_detail.id)) -%>)
        <%end %>
      </span>

      <span class="map_year">
        <% unless map_detail.depicts_year.blank? -%>
          Depicts: <%= map_detail.depicts_year -%>
        <% end -%>
      </span>
      <% if !map_detail.public? %><span class="publicprivate">(Not listed)</span><% end-%>
    </div>
    <div class="map_links_bigger">
      <% if logged_in? -%>
        <% current_user_maps = current_user.maps %>
        <% if current_user_maps.to_a.include?(map_detail) -%>
          <%= link_to('Remove from My Maps', destroy_my_map_path(:user_id => current_user, :map_id => map_detail), :method => :post, :confirm => "really remove this map from your list?") -%>
        <% else -%>
          | <%= link_to('Save to My Maps', add_my_map_path(:user_id => current_user, :map_id => map_detail), :method => :post) -%>
        <% end -%>
      <% end -%>

      <% if admin_authorized? and @layer -%>
        | <%= link_to "remove map from this mosaic", {:controller => "layers", :action=>"remove_map", :id => @layer, :map_id => map_detail} %>
      <%end -%>

      <% if admin_authorized? -%>
        | <%= render :partial  => 'maps/map_type', :object => map_detail -%>
      <% end -%>

      <%if map_detail.status == :warped -%> |
        <%= link_to("Download KML", map_url(:id => map_detail, :format=>:kml)) -%>
      <% end -%>
    </div>
  </div>
</div>