<div class="col-sm-12">
  <%= render :partial => 'shared/search' -%>

  <div class="browse">
    <h1>Browse All Maps
      <%if @query && @query.length > 0 %>&mdash; Searched for "<%=@query%>"
      <%end-%>
    </h1>

    <div id="search-sort">
      <%= render :partial => 'shared/sort' -%>
    </div>
    
    <%= render :partial => 'map', :collection => @maps unless @maps.nil? %>

    <div id="search-pagination-bottom">
      <%= will_paginate @maps, :renderer => FlowPagination::LinkRenderer %>
    </div>
  </div>
</div>