<div class="row">
<div class="col-sm-12">
  <h1>Metadata</h1>
</div>
</div>

<div class="row">

  <div class="col-sm-6">
    <p>
      <b>Title</b><br />
      <%= h @map.title %>
    </p>

    <p>
      <b>Description</b><br />
      <%= h @map.description %>
    </p>

    <h2>Tags</h2>
    <% if @map.tags.count > 0 -%>
      <span class="tags">
        <% @map.tags.each do | tag | -%>
          <%= link_to tag.name, { :controller=> :maps, :action => :tag, :id => tag.name } %>
        <% end %>
      </span>
    <% end -%>
  </div>

  <div class="col-sm-6">
    <p>
      <b>Metadata Unique ID</b><br>
      <%= @map.unique_id %>
    </p>
    
    <p>
      <b>Source / Reference URL</b><br>
      <%= @map.source_uri %>
    </p>
    
    <p>
      <b>Publisher</b><br>
      <%= @map.publisher %>
    </p>

    <p>
      <b>Author</b><br>
      <%= @map.authors %>
    </p>

    <p>
      <b>Collector / Owner</b><br>
      <%= @map.publication_place %>
    </p>

    <p>
      <b>Date depicted</b><br>
      <%= @map.date_depicted %>
    </p>

    <p>
      <b>Published date</b><br>
      <%= @map.published_date %>
    </p>
    
    <p>
      <b>Scale</b><br>
      <%= @map.scale %>
    </p>

    <p>
      <b>Language</b><br>
      <%= @map.language %>
    </p>
  </div>
</div>