<div id="container">

<div id="left-col">
  <h2>Welcome!</h2>

  <p>
    This Warper lets you plot scanned maps and aerial images in the 
    geographic space of a digital map, a process often referred to as ‘warping’ or 
    ‘georectifying’. If you have several images of the same place 
    at different points in time you can also load them into MapStory as a 
    StoryLayer. To do so, just download the warped images, zip them, and 
    load the single zipped file into MapStory. The video below explains everything 
    you need to know.  If you still have questions, post them on
    <a href="http://help.mapstory.org/">MapStory Help</a>, or 
    <a href="http://mapstory.org/mapstory/manual/#prep-raster">read the manual</a>, 
    or 
    <a href="http://wiki.mapstory.org/wiki/How_To#How_to_use_the_Warper">look at these tutorials</a>.
  </p>

  <div id="video-intro">
   video coming soon
  </div>

  <div id="tag-cloud">
    <h4 class="smaller">Tags</h4>
    <% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
      <%= link_to tag.name, { :controller=>:maps, :action => :tag, :id => tag.name }, :class => css_class %>
    <% end %>
  </div>
</div>

<div id="right-col">
  <div id="search-form">
    <%= render :partial => 'shared/search' -%>
</div>

<div id="map_list">
  <h2><%= link_to 'Browse All Maps', maps_path %>
  </h2>

  <% if @my_maps -%>
    <h3>My Maps</h3>
    <table id="map_table" cellpadding="3">
    <thead>
        <tr>
          <th>Map</th>
          <th>Title</th>
          <th>Last modified</th>
          <th>Status</th>
        </tr>
      </thead>
        <%= render :partial => 'maps/map', :collection => @my_maps  unless @my_maps.nil? %>
    </table>
    <%= link_to "See all of My Maps", my_maps_path(:user_id => current_user) -%>
  <%end -%>

  <br/>

  <h3>Last Rectified Maps</h3>

  <table id="map_table" cellpadding="3">
      <thead>
        <tr>
          <th>Map</th>
          <th>Title</th>
          <th>Last modified</th>
          <th>Status</th>
        </tr>
      </thead>
    <%= render :partial => 'maps/map', :collection => @maps unless @maps.nil? %>
  </table>

  <%= link_to 'See all Maps', maps_path %>

</div>

<div id="layer_list">

  <h3>Recent Mosaics</h3>
  <table id="layer_table" cellpadding="3">
    <thead>
      <tr>
        <th>Mosaic</th>
        <th>Title</th>
        <th>Year</th>
        <th>Number of Maps</th>
        <th>Percentage Complete</th>
      </tr>
    </thead>
    <%= render :partial => 'layers/layer', :collection => @layers unless @layers.nil? %>
  </table>
<%= link_to "View all Mosaics", layers_path %><br />
<%= link_to "Create a new mosaic", new_layer_path %>
</div>

</div>
<div class="clear"></div>
</div>
