<div class="col-lg-3">
  <h1>Welcome!</h1>

  <p>
    This Warper lets you plot scanned maps and aerial images in the geographic space of a digital map, 
    a process often referred to as 'warping'. Once you've warped one or more images, you can load 
    them into <a href="http://mapstory.org/">MapStory.org</a> as a StoryLayer. Watch these videos to learn more!
  </p>

  <div class="embed-responsive embed-responsive-4by3">
   <iframe width="260" height="227" src="//www.youtube.com/embed/Zehq4RpqlHo" allowfullscreen></iframe>
  </div>

  <div class="embed-responsive embed-responsive-4by3">
   <iframe width="260" height="227" src="//www.youtube.com/embed/hrXNM6IL8Mw" allowfullscreen></iframe>
  </div>

  <div id="tag-cloud">
    <h2>Tags</h2>    
    <% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
      <span class="label label-default"><%= link_to tag.name, { :controller=>:maps, :action => :tag, :id => tag.name }, :class => css_class %></span>
    <% end %>
  </div>
</div>
<div class="col-lg-9">
  <%= render :partial => 'shared/search' -%>

  
  <div class="mapblock">
    <h2>My Maps</h2>
    <% if @my_maps and @my_maps.any? -%>  
      <%= render :partial => 'maps/map', :collection => @my_maps  unless @my_maps.nil? %>
      <p><%= link_to "See all of My Maps", my_maps_path(:user_id => current_user) -%></p>
    <% else %>
      You don't have any maps yet. <%= link_to "Upload one", new_map_path %>, or <%= link_to "browse all maps", maps_path %>.
    <% end %>
  </div>

  <div class="mapblock">
    <h2>Last Rectified Maps</h2>
    <%= render :partial => 'maps/map', :collection => @maps unless @maps.nil? %>
    <p><%= link_to 'See all Maps', maps_path %></p>
  </div>
  <div class="mapblock">
    <h2>Recent Mosaics</h2>
    <%= render :partial => 'layers/layer', :collection => @layers unless @layers.nil? %>
    <p><%= link_to "View all Mosaics", layers_path %></p>
  </div>
</div>