<div class="col-lg-3">
  <h1>Welcome!</h1>

  <p>
    This Warper lets you plot scanned maps and aerial images in the 
    geographic space of a digital map, a process often referred to as ‘warping’ or 
    ‘georectifying’. Once you've warped several images that depict the same place at different points in 
    time, you can load them into <a href="http://mapstory.org/">MapStory.org</a> as a StoryLayer. 
    To do so, just download the warped images, zip them, and 
    load the single zipped file into <a href="http://mapstory.org/">MapStory</a>. The video below explains everything 
    you need to know.  If you still have questions, post them on
    <a href="http://help.mapstory.org/" target="_blank">MapStory Help</a>, 
    <a href="http://mapstory.org/mapstory/manual/#prep-raster" target="_blank">read the manual</a>, 
    or 
    <a href="http://wiki.mapstory.org/wiki/How_To#How_to_use_the_Warper" target="_blank">look at these tutorials</a>.
  </p>

  <div id="video-intro">
   <iframe width="260" height="227" src="//www.youtube-nocookie.com/embed/ht05Veu7p-c" frameborder="0" allowfullscreen></iframe>
  </div>

  <div id="tag-cloud">
    <h2>Tags</h2>    
    <% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
      <span class="label label-default"><%= link_to tag.name, { :controller=>:maps, :action => :tag, :id => tag.name }, :class => css_class %></span>
    <% end %>
  </div>
</div>
<div class="col-lg-9">
  <%= render :partial => 'shared/search' -%>

  <% if @my_maps -%>
  <div class="mapblock">
    <h2>My Maps</h2>
    <%= render :partial => 'maps/map', :collection => @my_maps  unless @my_maps.nil? %>
    <p><%= link_to "See all of My Maps", my_maps_path(:user_id => current_user) -%></p>
  </div>
  <%end -%>

  <div class="mapblock">
    <h2>Last Rectified Maps</h2>
    <%= render :partial => 'maps/map', :collection => @maps unless @maps.nil? %>
    <p><%= link_to 'See all Maps', maps_path %></p>
  </div>
  <div class="mapblock">
    <h2>Recent Mosaics</h2>
    <%= render :partial => 'layers/layer', :collection => @layers unless @layers.nil? %>
    <p><%= link_to "View all Mosaics", layers_path %></p>
  </div>
</div>