<div class="row">
<% form_for @layer do |f| %>

  <div class="col-sm-6">
    <p>
    <%= f.label :name  %> <br />
    <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </p>
    <p>
      Source / Bibliographic Ref URL<br />
      <%= f.text_field :source_uri %>
    </p>
    <p>
      <%= f.label :depicts_year %><br />
      <%= f.text_field :depicts_year %>
    </p>
  </div>

  <div class="col-sm-6">
  <h2>Choose from "My Maps"</h2>

  <% if @maps.length == 0 %>
    <p>You have no warped <%= link_to "maps", my_maps_path(current_user) %> </p>
  <% else %>
   <table>
      <% @maps.each do |map|%>
        <tr>
        <td>
          <input type="checkbox" name="map_ids[]" id="<%= map.id%>" value="<%=map.id%>" <%- if @layer.maps.include? map
    -%> checked="checked"<%-end-%> />
        </td>
        <td>
        <label for="<%= map.id%>">
          <%=  image_tag(map.upload.url(:thumb)) -%>
          <%=  h(map.title) -%>
          </label>
        <%= link_to("detail", map_path(map)) -%>
        </td>
        </tr>
      <% end %>
    </table>
    <p><%= link_to "View all of 'My Maps'", my_maps_path(current_user) %> </p>
  <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
  <%= f.submit((defined?(page) && page =~ /new/) ? "Create" : "Update" )%>

  <%end%>
  </div>

</div>