<div class="row">
  <div class="col-sm-8">
    <div class="maplist_img">
      <%= image_tag(layer.thumb) %>
    </div>

    <span class="layer_title">
      <%= link_to h(layer.name),  layer_path(layer) -%>
    </span>
    <br />
    <span class="layer_description">
      <%= layer.description %><br>
      <%- if layer.user -%>Compiled by <%= link_to(layer.user.login, user_path(layer.user)) -%>.<%-end-%>
      
    </span>
    <span class="layer_year">
      <% unless layer.depicts_year.blank? %>Depicts : <%= layer.depicts_year %> <%end%>
    </span>
    <span class="map_links">
      <%- unless layer.source_uri.blank? -%>
      Links: <%= link_to 'Source / Biblio Ref',layer.source_uri  %>
      <%- end -%>
    </span>      
    <div class="map_links_bigger">
      <% if logged_in? && (admin_authorized? or current_user.own_this_layer?(layer.id)) -%>
        <%= link_to "Edit Mosaic", edit_layer_path(:id=>layer) -%> |
      <% end -%>

      <% if layer.is_visible && layer.rectified_maps_count > 0 %>
        <%= link_to("Download KML", layer_url(:id => layer, :format=>:kml)) %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-4">
    modified <%=h time_ago_in_words(layer.updated_at) -%> ago<br>
    <%= pluralize layer.maps_count,'map' -%>    
    (<%= layer.rectified_maps_count -%> rectified)<br>
    <%=number_to_percentage(layer.rectified_percent, :precision=>0) %> complete
  </div>
</div>