<div class="row">
	<div class="col-sm-12">
		<h1>Edit mosaic</h1>
		<%= error_messages_for :layer %>
		<em>Note: All mosaics are public, you can add your private maps to them, they won't be listed<br />
		but they will be seen on the final map image.</em>
	</div>
</div>

<%= render :partial => "form_remote", :locals => {:page => "edit"} %>

<div class="row">
	<div class="col-sm-12">
		<div class="expire_notice">
			<p>If mosaics are not updated within <%= MAP_EXPIRE_TIME/86400 %> days they will be removed.</p>
			<% if @layer.expired? %>
			<p>This mosaic has not been edited recently and will be removed within a few minutes.</p>
			<% else %>
			<p>This mosaic will be removed on <%= @layer.expires_on.strftime("%A %B %-d at %l:%M %P") %>.</p>
			<% end %>
		</div>
	</div>
</div>

<%- if (current_user = @layer.user || admin_authorized?) -%>
<div class="row">
	<div class="col-sm-12">
  	<div class="mapbtn"><%=  link_to 'Delete this mosaic.', {:controller=>"layers", :action=>"delete", :id => @layer}, :class => "btn btn-danger" %></div>
  </div>
</div>
<% end %>
