<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= h(@html_title) || ''-%> MapStory : Map Warper </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= yield :head %>
    <%= render "layouts/includes" %>
    <%= render "layouts/scripts" %>
  </head>
<% if @onload -%>
  <body data-spy="scroll" data-target="#scrollTarget" data-offset="150" onload="<%=@onload%>">
<%else-%>
  <body data-spy="scroll" data-target="#scrollTarget" data-offset="150">
<%end%>
    <div id="globalWrapper">
      <%= render 'shared/header' %>
      <section class="slice" id="dashboard">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 sitemsg">
              <%= flash_messages %>
            </div>
          </div>
          <div class="row">
            <%= yield %>
          </div>
        </div>
      </section>
    <%= render "shared/footer" %>
    </div>
    <%= render "shared/analytics" %>    
  </body>
</html>