<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= h(@html_title) || ''-%> MapStory : Map Warper </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <%= render "layouts/includes" %>
    <%= render "layouts/scripts" %>

    <%= javascript_include_tag "jquery-ui-1.9.2.custom.min.js" %>

    <%= javascript_include_tag "prototype" %>    
    <%= javascript_include_tag "jquery-warper" %>
    <%= javascript_include_tag "openlayers/2.8/OpenLayers-2.8/OpenLayers" %>
    <%= javascript_include_tag "layers" %>

<script type="text/javascript">
      OpenLayers.ImgPath = '<%=request.protocol + request.host_with_port + ActionController::Base.relative_url_root.to_s%>/javascripts/openlayers/img/';

      jQuery(function() {
        jQuery("#wooTabs").bind("tabsshow", function(event, ui){
          if (ui.panel.id == "Rectify"){
            if (typeof to_map != 'undefined'){
              to_map.updateSize();
              from_map.updateSize();
            }
          }
          if (ui.panel.id == "Preview_Rectified_Map"){
            if (typeof warpedmap != 'undefined') {
              warpedmap.updateSize();
            }
          }

          if (ui.panel.id == "Crop"){
            if (typeof clipmap != 'undefined') {
              clipmap.updateSize();
            }
          }

          if (ui.panel.id == "Show"){
            if (typeof umap != 'undefined'){
              umap.div.style.width = "100%";
              umap.updateSize();
            }
          }
          if (ui.panel.id == "Activity_History"){

          }

        }); //end tabshow
      });//end jquery function
    </script>

    <script>
      // Select the pan (hand) tool on both maps.
      function activate_pan() {
        // Fetch the control panel
        foo = from_map.controls[1];
        foo.activateControl(foo.controls[0]);
      }
    </script>


    <%= yield :head %>    
  </head>
<% if @onload -%>
  <body data-spy="scroll" data-target="#scrollTarget" data-offset="150" onload="<%=@onload%>">
<%else-%>
  <body data-spy="scroll" data-target="#scrollTarget" data-offset="150">
<%end%>
    <div id="globalWrapper">
      <%= render 'shared/header' %>
      <section class="slice" id="dashboard">
        <div class="container">
          <div class="row">
            <div class="row-sm-12">
              <%= render :partial => 'maps/map_detail', :object => @map %>
              <% @tabs = [{:name=>"show",:divname=>"Show", :label=>"Show", :path=>map_path},
                 {:name=>"edit",:divname=>"Edit", :label=>"Edit", :path=>edit_map_path(:id => @map)},
                {:name=>"warp",:divname=>"Rectify", :label=>"Rectify", :path=>warp_map_path(:id => @map)},
                {:name=>"clip",:divname=>"Crop", :label=>"Crop", :path=>clip_map_path(:id => @map)},
                {:name=>"align",:divname=>"Align", :label=>"Align", :path=>align_map_path(:id => @map)},
                {:name=>"warped",:divname=>"Preview_Rectified_Map", :label=>"Preview Map", :path=>warped_map_path(:id => @map)},
                {:name=>"export",:divname=>"Export", :label=>"Export", :path=>export_map_path(:id => @map)},
                {:name=>"metadata",:divname=>"Metadata", :label=>"Metadata", :path=>metadata_map_path(:id => @map)},
                {:name=>"activity",:divname=>"Activity_History", :label=>"Activity",:path=> map_activity_path(:id => @map)},
                {:name=>"comments",:divname=>"Comments", :label=>"Comments", :count=>@map.comments.size.to_s, :path=>comments_map_path(:id => @map)}  ] -%>
                <div id="wooTabs">
                  <ul class="nav nav-tabs">
                    <% @tabs.each do |tab| %>
                      <% if @current_tab == tab[:name] %>
                        <% tab[:path] = "#"+tab[:divname]  %>
                        <% @current_tab_divname = tab[:divname] %>
                        <li class="active">
                      <% else -%>
                        <li>
                      <% end -%>                    
                      <% unless @disabled_tabs && @disabled_tabs.include?(tab[:name]) -%>
                       <a id="aa<%=tab[:label]%>" rel="history" href="<%=tab[:path]%>" title="<%=tab[:label]%>"><span><%=tab[:label]%><% if tab[:count] -%> (<%=tab[:count]-%>)<%end-%></span></a></li>
                      <% end -%>
                    <% end -%>
                  </ul>
                  <div id="<%=@current_tab_divname %>">
                    <%= flash_messages %>
                    <%= yield %>
                  </div>
                </div>
                <div id="panel-under-tabs"></div>
            </div>
          </div>
        </div>
      </section>
    <%= render "shared/footer" %>
    </div>
    <%= render "shared/analytics" %>    
  </body>
</html>